body{
    background: url(http://eskipaper.com/images/dark-background-pictures-1.jpg);
    color: whitesmoke;
    font-size: 20px;
}
.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.grid{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #999;
    box-sizing: content-box;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 10px 15px 10px #111;
}
.cell{
   width: 15px;
   height: 15px;
   background: #555;
   box-sizing: border-box;
   border: 0.5px solid #777;
}
.cell-active{
   width: 15px;
   height: 15px;
   background: #FDE3A7;
   box-sizing: border-box;
   border: 0.5px solid #777;
   animation: background-change 300ms forwards;
}
@keyframes background-change {
   100%{background: #EC644B}
}
button{
   background: #333;
   color: white;
   margin: 5px;
   box-shadow: 5px 10px 10px #111;
}
button:hover{
    background: #777;
}